html {
    font-size: 10px;
}

body,html {
    margin: 0;
    padding: 0;
    background-color: rgb(63, 99, 133);
    color: #fff;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

.main-container {
    max-width: 76.8rem;
    /* background-color: rgba(123, 220, 118, 0.672); */
    margin: 0 auto;
}

#rock, #paper, #scissors {
    border: none;
    margin: 0 20px;
    text-decoration: none;
    display: inline-block;
    width: 150px;
    height: 150px;
    cursor:pointer;
    transition: all .07s ease;
    filter: drop-shadow(2px 2px 8px rgba(0,0,0,0.5));
}

#scissors:hover, #paper:hover, #rock:hover {
    transform: scale(1.2) rotate(15deg);
  
    filter: drop-shadow(2px 2px 8px rgba(9, 208, 230, 0.85));
}

#rock {
    background: url('./rock.png') no-repeat;
    background-size: contain;
    background-position: center;
}

#paper {
    background: url('./paper.png') no-repeat;
    background-size: contain;
    background-position: center;
}

#scissors {
    background: url('./scissors.png') no-repeat;
    background-size: contain;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: sandybrown; */
}

#score-container  {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    /* background-color: rgb(114, 97, 151); */
}

#player, #computer, #roundResult{
    width: 50%;
    text-align: center; 
    font-family: sans-serif;
    font-size: 2.5rem;
    padding: 3rem 0 0 0; 
    margin: 0;
} 

#roundResult {
    width: 100%;
}