html {
    font-size: 10px;
}

body,html {
    margin: 0;
    padding: 0;
    background-color: rgb(54, 46, 99);
    color: #fff;
}

h1,h2 {
    text-align: center;
    font-family: sans-serif;
}
h2 {
    font-size: 2rem;
}

.main-container {
    max-width: 76.8rem;
    /* background-color: rgba(123, 220, 118, 0.672); */
    margin: 0 auto;
}

#rock, #paper, #scissors {
    border: none;
    margin: 0 20px;
    padding: 0;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    min-width: 100px;
    height: 200px;
    min-height: 100px;
    cursor:pointer;
    transition: all .15s ease;
    filter: drop-shadow(2px 2px 10px rgba(69, 233, 255, 1));
}

#scissors:hover, #paper:hover, #rock:hover {
    transform: scale(1.2) rotate(15deg);
    filter: drop-shadow(2px 2px 10px rgba(255, 48, 214, 1));
}

#rock {
    background: url('./rock.png') no-repeat;
    background-size: contain;
    background-position: center;
}

#paper {
    background: url('./paper.png') no-repeat;
    background-size: contain;
    background-position: center;
}

#scissors {
    background: url('./scissors.png') no-repeat;
    background-size: contain;
    background-position: center;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    /* background-color: sandybrown; */
}

#score-container  {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 25px;
    /* background-color: rgb(114, 97, 151); */
}

#player, #computer, #roundResult{
    width: 50%;
    text-align: center; 
    font-family: sans-serif;
    font-size: 3rem;
    padding: 3rem 0 0 0; 
    margin: 0;
} 

#roundResult {
    width: 100%;
}
.felicidades {
    display: flex;
    justify-content: center;
}

.felicidades > img  {
    max-width: 200px;
    min-width: 100px;
    filter: drop-shadow(2px 2px 8px rgba(255, 255, 255, 1));
    animation: pulse 2s infinite;
    user-select: none;
}
@keyframes pulse {
	0% {
		transform: scale(0.80);
        filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.7));
		/* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7); */
	}

	70% {
		transform: scale(1);
        filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.0));
		/* box-shadow: 0 0 0 10px rgba(0, 0, 0, 0); */
	}

	100% {
        transform: scale(0.80);
        filter: drop-shadow(0px 0px 0px rgba(255, 255, 255, 0.0));
		/* box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); */
	}
}

.vanish {
    display: none !important;
}

#playAgain {
    display: block;
    margin: 25px auto 0 auto;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    color: rgb(54, 46, 99);
}

#playAgain:hover {
    transition: all 0.2s ease;
    box-shadow: 0px 0px 10px rgba(255, 48, 214, 1);
}